<h1>Banner <%= @banner.name %></h1>

<% unless @banner.target_view_count.nil? %>
  <strong>Current view count:</strong> <%= @banner.running_view_count %> / <%= @banner.target_view_count %>
  &nbsp;&nbsp;|&nbsp;&nbsp;
<% end %>

<br/>

<% #TODO fix default url

default_url = "http://localhost.inv:3000/?"
%>
Test banner in url : <input type="text" name="test_url" value="<%= default_url + "advert_selector_force=#{@banner.id}" %>">

<hr/>

<%= render 'form' %>

<%= link_to 'Show', @banner %> |
<%= link_to 'Back', banners_path %>
