<h1>Banner <%= @banner.name %></h1>

<% unless @banner.target_view_count.nil? %>
  <strong>Current view count:</strong> <%= @banner.running_view_count %> / <%= @banner.target_view_count %>
  &nbsp;&nbsp;|&nbsp;&nbsp;
<% end %>

<br/>

Test banner in url :

<input type="text" name="test_url" id="test_url" style="width: 500px;" value="<%= AdvertSelector.default_banner_test_url + "advert_selector_force=#{@banner.id}" %>">
<button class="btn btn-info" type="button" onclick="window.open(document.getElementById('test_url').value)">Test</button>

<hr/>

<%= render 'form' %>

<%= link_to 'Show', @banner %> |
<%= link_to 'Back', banners_path %>
