<h1>Banner <%= @banner.name %></h1>

<% unless @banner.target_view_count.nil? %>
  <strong>Current view count</strong> <%= @banner.running_view_count %> / <%= @banner.target_view_count %>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <strong>Per day</strong> <%= @banner.view_count_per_day %>.
<% end %>

<hr/>

<%= render 'form' %>

<%= link_to 'Show', @banner %> |
<%= link_to 'Back', banners_path %>
