<h1>Examples#index</h1>

<p>Find me in app/views/examples/index.html.erb</p>

<%= link_to 'nopriority', '/' %> - <%= link_to 'priority=true', '/?priority=true' %>


<hr>

<%#= AdvertSelector::initialize_banners %>
<%= advert_selector_initialize %>

<hr>

<h2>content_for :banner_leaderboard</h2>

<%= content_for(:banner_leaderboard) %>


<h2>content_for :banner_parade</h2>

<%= content_for(:banner_parade) %>

<hr>

<h2>content_for :content_test</h2>

<%= content_for(:content_test) %>

<hr>

