<%= simple_form_for(@placement, :html => {:class => 'form-horizontal'}) do |f| %>

  <%= f.error_notification %>

  <div class="row">
    <div class="span5">
      <%= f.input :name %>

      <%= f.input :only_once_per_session %>

      <%= f.input :conflicting_placements_array, :input_html => {:rows => 5} %>

      <div class="well" style="margin-left: 40px; font-size: 12px;">
        <strong>Conflicting links:</strong>
        <ul>
        <% @placement.conflicting_placements.each do |name| %>
          <li>
            <% if place = AdvertSelector::Placement.by_name(name).first %>
              <%= link_to place.name, place %>
            <% else %>
              <strong><%= name %> - NOT FOUND</strong>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>

    </div>

    <div class="span4">
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>

