<%= form_for(@helper_item) do |f| %>
  <% if @helper_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@helper_item.errors.count, "error") %> prohibited this helper_item from being saved:</h2>

      <ul>
      <% @helper_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :master_id %><br />
    <%= f.number_field :master_id %>
  </div>
  <div class="field">
    <%= f.label :master_type %><br />
    <%= f.text_field :master_type %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content_for %><br />
    <%= f.check_box :content_for %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
